@font-face {
    font-family: 'roboto-bold';
    src: url('roboto-bold'),
       url("../font/Roboto-Bold.ttf") format("ttf"),
       url("../font/Roboto-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'roboto-regular';
    src: url('roboto-regular'),
       url("../font/Roboto-Regular.ttf") format("ttf"),
       url("../font/Roboto-Bold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: 'aria-bold';
    src: url('aria-bold'),
       url("../font/ArialBold.ttf") format("ttf"),
       url("../font/ArialBold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}